<!DOCTYPE html>
<html>
<head>
  <title>ControllerExercise</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>


<%= link_to 'Users Page' ,users_path %> <br />
<%= link_to 'Products Page', products_path %>



<%= yield %>


</body>
</html>
